user www-data;
worker_processes 6;
pid /var/run/nginx.pid;

events {
worker_connections 1024;
multi_accept on;
}

http {

# PageSpeed
pagespeed on;
pagespeed FileCachePath /dev/shm/;
pagespeed Statistics on;
pagespeed StatisticsLogging on;
pagespeed LogDir /var/log/pagespeed;
pagespeed StatisticsLoggingIntervalMs 60;
pagespeed StatisticsLoggingMaxFileSizeKb 4096;

# Domain drama
pagespeed Domain http://danielmiessler.com;
pagespeed Domain http://cdn.danielmiessler.com;

# Filters

pagespeed EnableFilters strip_image_meta_data,resize_rendered_image_dimensions,move_css_above_scripts,rewrite_css,lazyload_images,prioritize_critical_css,make_google_analytics_async,rewrite_javascript,combine_javascript,inline_css,inline_css,inline_javascript,recompress_images,resize_images,remove_comments,collapse_whitespace,extend_cache_css,extend_cache_images,extend_cache_scripts,remove_quotes;

# Basic Settings

sendfile on;
tcp_nopush on;
tcp_nodelay on;
keepalive_timeout 10s;
types_hash_max_size 2048;
server_names_hash_bucket_size 64;
include /etc/nginx/mime.types;
default_type application/octet-stream;

# Security

server_tokens off;
server_name_in_redirect off;

# Logging Settings

access_log /var/log/nginx/access.log;
error_log /var/log/nginx/error.log;

# Gzip Settings

gzip on;
gzip_vary on;
gzip_proxied any;
gzip_comp_level 9;
gzip_buffers 16 8k;
gzip_http_version 1.1;
gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

# Caching
fastcgi_cache_path /dev/shm/ levels=1:2 keys_zone=drm_custom_cache:64m max_size=1024m inactive=60m;
log_format cache '$remote_addr - $remote_user [$time_local] "$request" '
'$status $upstream_cache_status $body_bytes_sent "$http_referer" '
'"$http_user_agent" "$http_x_forwarded_for"';

# Load Configurations
include /etc/nginx/*.customconf;
}
